/Guia6_EjerciciosBase/nbproject/private/
/Guia6_EjerciciosBase/build/
/Guia6_EjerciciosExtra/nbproject/private/
/Guia6_EjerciciosExtra/build/
/Guia 7/nbproject/private/
/Guia 7/build/
/Guia 7 Proyectos/MascotaAPP/nbproject/private/
/Guia 7 Proyectos/MascotaAPP/build/
/Guia 7 Proyectos/Guia7_Ejercicio01/nbproject/private/
/Guia 7 Proyectos/Guia7_Ejercicio01/build/